<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>przygotuj własne taco!</h1>
<img th:src="@{/images/taco.png}"/>
<form method="POST" th:object="${design}">
<h3>Wybierz rodzaj mąki : </h3>
<div class="ingredient-group">
<div th:each="ingredient : ${wrap}">
    <input name="ingredients" type="checkbox" th:value="${ingredient.id}">
    <span th:text="${ingredient.name}">Składnik</span><br/>
</div>
</div>

<h3>Wybierz mięso : </h3>
<div class="ingredient-group">
    <div th:each="ingredient : ${protein}">
        <input name="ingredients" type="checkbox" th:value="${ingredient.id}">
        <span th:text="${ingredient.name}">Składnik</span><br/>
    </div>
</div>

<h3>Wybierz sery : </h3>
<div class="ingredient-group">
    <div th:each="ingredient : ${cheese}">
        <input name="ingredients" type="checkbox" th:value="${ingredient.id}">
        <span th:text="${ingredient.name}">Składnik</span><br/>
    </div>
</div>

<h3>Wybierz warzywa : </h3>
<div class="ingredient-group">
    <div th:each="ingredient : ${veggies}">
        <input name="ingredients" type="checkbox" th:value="${ingredient.id}">
        <span th:text="${ingredient.name}">Składnik</span><br/>
    </div>
</div>

<h3>Wybierz sosy : </h3>
<div class="ingredient-group">
    <div th:each="ingredient : ${sauce}">
        <input name="ingredients" type="checkbox" th:value="${ingredient.id}">
        <span th:text="${ingredient.name}">Składnik</span><br/>
    </div>
</div>
<div>
<h3>Nadaj nazwe swojego taco : </h3>
<input type="text" th:field="*{name}"/>
</br>
<button>Wyslij swoje zamówienie</button>
</div>
</form>
</body>
</html>